.Tilt {
  background: linear-gradient(89deg, #FF5EDF 0%, #04C8DE 100%); /* w3c */
  /* height: 70vh; */
  height: 70vh;
 width: 70vh;

}

img {
  min-width: 300px;
  width: auto;
  height: auto;
  padding: 5px;
}

h1 {
  min-width: 300px;
  width: auto;
}