.App {
  min-height: 100vh;
  text-align: center;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.hidden {
  display: none;
  /* background: transparent; */
}

.particles {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 0;
  pointer-events: none;
}

nav {
  position: sticky;
  top: 0;
  width: 100%;
  display: flex;
  justify-self: flex-start;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-content: center;
  margin: 0;
  z-index: 99;
}

.input-register,
.input-signin {
  background-color: rgba(127, 255, 212, 0.082) !important;
  color: rgb(195, 223, 248);
}

#LogoComponent {
  display: flex;
  justify-content: space-evenly;
  align-content: center;
}

.face_detection {
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
@media screen and (max-width: 720px) {
  nav {
    justify-content: space-evenly;
  }
  #LogoComponent {
    align-items: center;
    flex-direction: column;
  }
}
