html {
  min-height: 100vh;
}

body, html{
  margin:0;
  padding:0;
}

body {
  width: 100%;
  font-family: "Courier New", Courier, monospace;
  color: rgb(195, 223, 248);
  background: linear-gradient(45deg, #25284b 0%, #3a1523 100%); /* w3c */
}

button {
  cursor: pointer;
}

